@import "./_variables.scss";

.flex-parent{
    /*background-color: rgba(color(darkprimary), 0.4);*/
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin: 22px;
}

.images{
    height: 25vh;
}