.recipe{
    background-color: rgba(color(primary), 0.4);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 22px;
}
.recipe-box{
    margin: 15px;
    padding: 20px;
}
#title{
    text-align: center;
}
#ingredients{
    background-color: rgba(color(lightprimary), 0.4);
    display: flex;
    flex-direction: row;
}
.ingredients-imgs{
    margin: auto;
    text-align: center;
}
#ingredients-pic{
    height: 14rem;
}
#directions{
    background-color: rgba(color(lightprimary),0.4);
    flex-direction: row;
}
.image-gallery{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 15rem;
}
#images{
    height: 15rem;
}