.recipe{
    background-color: rgba(color(primary), 0.4);;
}



.flex-child1{
    /*background-color: rgba(color(lightprimary), 0.4) ;*/
    margin: 10px;
    height: 20vh;
};


.flex-child2{
    /*background-color: rgba(color(lightprimary), 0.4) ;*/
    margin: 10px;
    height: 20vh;
};


.flex-child3{
    /*background-color: rgba(color(lightprimary), 0.4) ;*/
    margin: 10px;
    height: 20vh;
};


.flex-child4{
    /*background-color: rgba(color(lightprimary), 0.4) ;*/
    margin: 10px;
    height: 20vh;
};


/*
}
#flex-grow-1{
    display: flex:
    justify-content: space-bewteen
}
#flex-grow-2{
    flex-grow: 2;
}
.flex-sm{
    background-color: purple;
}
*/