@import "./_header.scss";
@import "./_about.scss";

$colors:(
    primary: #345123
);
$padding:1.3rem;

@function color($color-name) {
    @return map-get($colors, $color-name);
}

body{
    background-color: rgba(color(primary), 0.4);
}

.flex-parent{
    background-color: purple;
    height: 60vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-content: center;
}
.flex-child{
    background-color: blue;
    margin: 10px;
    height: 20vh;
    color: white;
}
#flex-grow-1{
    display: flex:
    justify-content: space-bewteen
}
#flex-grow-2{
    flex-grow: 2;
}
.flex-sm{
    background-color: purple;
}